
body{
    margin:0;
    font-family:Arial, sans-serif;
    background:white;
}

header{
    background:#d4001f;
    color:white;
    text-align:center;
    padding:30px;
}

nav{
    background:black;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-weight:bold;
}

nav a:hover{
    color:#d4001f;
}

section{
    max-width:1000px;
    margin:auto;
    padding:30px;
}

.card{
    background:#f4f4f4;
    border-radius:10px;
    padding:20px;
    margin-bottom:20px;
    box-shadow:0 0 10px lightgray;
}

img{
    display:block;
    margin:auto;
    border-radius:15px;
    width:350px;
}

footer{
    background:black;
    color:white;
    text-align:center;
    padding:20px;
}

h2{
    color:#d4001f;
}


header .knop {
    display: inline-block;
    background: white;
    color: #d4001f;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 20px;
}

header .knop:hover {
    background: black;
    color: white;
}